.App-header{
  background-color: #a32888;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}

.columns {
  border: 10px #a32828;
  padding: 10px;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* width: 100% */
}

.eachEpisode {
  width: 100%;
  flex: 1;
  padding: 10px;
  max-width: 271px;
}

.title{
  background-color: #c0abe6;
  text-align: center;
  border-color: rgb(119, 0, 255);
  border-width: 10px;
}

.picture {
  display: flex;
  justify-content: center;
  max-width: 100%;
  object-fit: fill;
  
}

.picture img {
  flex-shrink: 0;
  min-width: 100%;
  /* max-width: 271px; */
  min-height: 100%
}


.input {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  font-size: 15px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

a:hover {
  background-color: lightgrey;
}

.searchBar {
  display: flex;
  flex-wrap: wrap;
}

